<head>
  <title>meteor-angular-sample</title>
</head>

<body>

  <h1>
    <a href="/parties">Home</a>
  </h1>

  <div ui-view></div>

</body>

<template name="hello">
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
</template>

<template name="bye">
  <p>Nothing here [[ 'yet' + '!' ]]</p>
  <p>1 + 2 = [[ 1 + 2 ]]</p>
</template>

<template name="partiesList">
  <div ng-controller="PartiesListCtrl">
    <form>
      <label>Name</label>
      <input ng-model="newParty.name">
      <label>Description</label>
      <input ng-model="newParty.description">
      <button ng-click="add(newParty)">Add</button>
    </form>

    <ul>
      <li ng-repeat="party in parties">
        <a href="/parties/[[party._id]]">[[party.name]]</a>
        <p>[[party.description]]</p>
        <button ng-click="remove(party)">X</button>
      </li>
    </ul>
    <p>Total number of parties: [[parties.length]]</p>
  </div>

</template>

<template name="partyDetails">
  Here you will see the details of party number: [[ partyId ]]
</template>
